<div class="row">
  <div class="col-12 my-3">
    <h3 id="badge">Badge</h3>
    <hr/>

    <div class="bd-example">
      <div class="h1">Example heading <span class="badge badge-secondary">New</span></div>
      <div class="h2">Example heading <span class="badge badge-secondary">New</span></div>
      <div class="h3">Example heading <span class="badge badge-secondary">New</span></div>
      <div class="h4">Example heading <span class="badge badge-secondary">New</span></div>
      <div class="h5">Example heading <span class="badge badge-secondary">New</span></div>
      <div class="h6">Example heading <span class="badge badge-secondary">New</span></div>
    </div>

    <div class="bd-example" data-example-id="">
      <span class="badge badge-primary">Primary</span>
      <span class="badge badge-secondary">Secondary</span>
      <span class="badge badge-success">Success</span>
      <span class="badge badge-danger">Danger</span>
      <span class="badge badge-warning">Warning</span>
      <span class="badge badge-info">Info</span>
      <span class="badge badge-light">Light</span>
      <span class="badge badge-dark">Dark</span>
    </div>

    <div class="bd-example" data-example-id="">
      <span class="badge badge-pill badge-primary">Primary</span>
      <span class="badge badge-pill badge-secondary">Secondary</span>
      <span class="badge badge-pill badge-success">Success</span>
      <span class="badge badge-pill badge-danger">Danger</span>
      <span class="badge badge-pill badge-warning">Warning</span>
      <span class="badge badge-pill badge-info">Info</span>
      <span class="badge badge-pill badge-light">Light</span>
      <span class="badge badge-pill badge-dark">Dark</span>
    </div>

    <div class="bd-example" data-example-id="">
      <a href="#" class="badge badge-primary">Primary</a>
      <a href="#" class="badge badge-secondary">Secondary</a>
      <a href="#" class="badge badge-success">Success</a>
      <a href="#" class="badge badge-danger">Danger</a>
      <a href="#" class="badge badge-warning">Warning</a>
      <a href="#" class="badge badge-info">Info</a>
      <a href="#" class="badge badge-light">Light</a>
      <a href="#" class="badge badge-dark">Dark</a>
    </div>
  </div>
</div>
