<div class="row">
  <div class="col-12">
    <h3 id="breadcrumb">Breadcrumb</h3>

    <div class="bd-example" data-example-id="">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">Home</li>
      </ol>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active">Library</li>
      </ol>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Library</a></li>
        <li class="breadcrumb-item active">Data</li>
      </ol>
    </div>
  </div>
</div>
