<div class="row">
  <div class="col-12 my-3">
    <h3 id="buttons">Buttons</h3>
    <hr/>

    <div class="bd-example my-2">
      <button type="button" class="btn btn-link">Link</button>
    </div>

    <div class="bd-example my-2">
      <button type="button" class="btn btn-primary">Primary</button>
      <button type="button" class="btn btn-secondary">Secondary</button>
      <button type="button" class="btn btn-success">Success</button>
      <button type="button" class="btn btn-danger">Danger</button>
      <button type="button" class="btn btn-warning">Warning</button>
      <button type="button" class="btn btn-info">Info</button>
      <button type="button" class="btn btn-light">Light</button>
      <button type="button" class="btn btn-dark">Dark</button>
    </div>

    <div class="bd-example my-2">
      <button type="button" class="btn btn-outline-primary">Primary</button>
      <button type="button" class="btn btn-outline-secondary">Secondary</button>
      <button type="button" class="btn btn-outline-success">Success</button>
      <button type="button" class="btn btn-outline-danger">Danger</button>
      <button type="button" class="btn btn-outline-warning">Warning</button>
      <button type="button" class="btn btn-outline-info">Info</button>
      <button type="button" class="btn btn-outline-light">Light</button>
      <button type="button" class="btn btn-outline-dark">Dark</button>
    </div>

    <div class="bd-example my-2">
      <button type="button" class="btn btn-lg btn-primary" disabled="">Primary button</button>
      <button type="button" class="btn btn-secondary btn-lg" disabled="">Button</button>
    </div>

    <div class="bd-example my-2">
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-secondary active">
          <input type="checkbox" checked="" autocomplete="off"> Checkbox 1 (pre-checked)
        </label>
        <label class="btn btn-secondary">
          <input type="checkbox" autocomplete="off"> Checkbox 2
        </label>
        <label class="btn btn-secondary">
          <input type="checkbox" autocomplete="off"> Checkbox 3
        </label>
      </div>
    </div>
  </div>
</div>
