<div class="row">
  <div class="col-12">
    <h3 id="input-group">Input Group</h3>

    <div class="bd-example" data-example-id="">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">@</span>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
      </div>
      <br>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <span class="input-group-addon" id="basic-addon2">@example.com</span>
      </div>
      <br>
      <label for="basic-url">Your vanity URL</label>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon3">https://example.com/users/</span>
        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
      </div>
      <br>
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
        <span class="input-group-addon">.00</span>
      </div>
      <br>
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <span class="input-group-addon">0.00</span>
        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
      </div>
    </div>

    <div class="bd-example" data-example-id="">
      <div class="row">
        <div class="col-lg-6">
          <div class="input-group">
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="button">Go!</button>
            </span>
            <input type="text" class="form-control" placeholder="Search for..." aria-label="Search for...">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for..." aria-label="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="button">Go!</button>
            </span>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-offset-3 col-lg-6">
          <div class="input-group">
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="button">Hate it</button>
            </span>
            <input type="text" class="form-control" placeholder="Product name" aria-label="Product name">
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="button">Love it</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
