<div class="row">
  <div class="col-12 my-3">
    <h3 id="popovers">Popovers</h3>
    <hr/>

    <div class="bd-example popover-demo my-2">
      <div class="bd-example-popovers">
        <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="" title="">
          Popover on top
        </button>
        <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="" title="">
          Popover on right
        </button>
        <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="" title="">
          Popover on bottom
        </button>
        <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="" title="">
          Popover on left
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  $(function () {
    $('[data-toggle="popover"]').popover()
  })
</script>
