<div class="row">
  <div class="col-12">
    <h3>Tables</h3>

    <div class="bd-example bd-example-tooltip-static">
      <div class="tooltip bs-tooltip-top bs-tooltip-top-docs" role="tooltip">
        <div class="arrow"></div>
        <div class="tooltip-inner">
          Tooltip on the top
        </div>
      </div>
      <div class="tooltip bs-tooltip-right bs-tooltip-right-docs" role="tooltip">
        <div class="arrow"></div>
        <div class="tooltip-inner">
          Tooltip on the right
        </div>
      </div>
      <div class="tooltip bs-tooltip-bottom bs-tooltip-bottom-docs" role="tooltip">
        <div class="arrow"></div>
        <div class="tooltip-inner">
          Tooltip on the bottom
        </div>
      </div>
      <div class="tooltip bs-tooltip-left bs-tooltip-left-docs" role="tooltip">
        <div class="arrow"></div>
        <div class="tooltip-inner">
          Tooltip on the left
        </div>
      </div>
    </div>
  </div>
</div>
