# See https://help.github.com/articles/ignoring-files for more about ignoring files.

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore documentation
/docs

# Dependency directories
node_modules

# Environment variables
.env
env

# Test coverage files
coverage

# Ignore Mac DS_Store files
.DS_Store

# Prevent gitsync conflicts
.gitsync_lock
