<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="description" content="A GUI for building Bootstrap themes.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="/assets/jquery.slim.min.js"></script>
    <script src="/assets/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css"/>
  </head>
  <body>
    <main>
      <div class="container my-4">

        <div class="row">
          <div class="col-12">
            <h2 class="text-center">Theme Builder<h2>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <%- include(views + '/components/buttons.html.ejs') %>
          </div>
        </div>

      </div>
    </main>
  </body>
</html>
