<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Theme Builder</title>
    <meta name="description" content="A GUI for building Bootstrap themes.">
    <%- include(views + '/shared/_head.html.ejs') %>
  </head>
  <body>
    <header class="mt-3">
      <h1 class="text-center">Theme Builder</h1>
    </header>

    <main class="container mt-5">
      <hr/>
      <h1 class="text-center"><%= error.message %></h1>
      <h2 class="text-center"><%= error.status %></h2>
      <pre><%= error.stack %></pre>
    </main>
  </body>
</html>
